name: ECR Docker Build and Push (Java App)

on:
  push:
    branches:
      - main  # Trigger on push to the 'main' branch

# Permissions are essential for OIDC authentication to AWS
permissions:
  id-token: write # Required for aws-actions/configure-aws-credentials
  contents: read  # Required for actions/checkout

env:
  # === CONFIGURATION START ==                 # Replace with your AWS Region
  ECR_REPOSITORY: utc-app       # Replace with your ECR repository name
  AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }} # Replace with your IAM Role ARN
  DOCKERFILE_PATH: ./Dockerfile          # Path to your Dockerfile (usually root)
  ARTIFACTORY_URL: ${{ secrets.ARTIFACT_URL }}
  SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  ECR_ROLE: ${{ secrets.ECR_ACESS_ROLE }}
  AWS_REGION: ${{ secrets.AWS_REGION }}   
  ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
  ECR_REPO: ${{ secrets.ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/dev
  IMAGE_TAG:  ${{ github.sha }}
  IMAGE_NAME: utc-app

  JFROG_REPO_NAME: utc-app
  # === CONFIGURATION END ===
jobs:

  
 sonar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'maven'

      - name: Cache Maven package
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build with Maven
        run: |
          mvn -B clean verify
        
      - name: Cache SonarQube package
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: SonarQube Scan
        env:
          #GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ env.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ env.SONAR_HOST_URL }}
        #run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=utc-app -Dsonar.qualitygate.wait=true
        run:  mvn verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=utc-app -Dsonar.projectName=utc-app

 docker:
  needs: sonar
  runs-on: Ubuntu-latest
  steps:

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}


      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Docker image
        run: |
          docker build -t ${{ env.IMAGE_NAME }} .
      - name: Tag Docker image    
        run: |
          docker tag ${{ env.IMAGE_NAME }}:latest ${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
         
      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
          format: table
          exit-code: '1' 
          severity: CRITICAL,HIGH

      - name: Push Docker image to Amazon ECR
        run: |
          docker push ${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
