name: java api app CI\CD

on:
  pull_request:
    branches:
      - main  
  push:
    branches:
      - main


permissions:
  id-token: write
  contents: read


env:
  ARTIFACTORY_URL: ${{ secrets.ARTIFACT_URL }}
  SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  ECR_ROLE: ${{ secrets.ECR_ACESS_ROLE }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
  VAULT_URL: ${{ secrets.VAULT_URL }}  
  VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}   
  AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN}}
  JFROG_REPO_NAME: utc-app

jobs:

  sonar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'maven'

      - name: Cache Maven package
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build with Maven
        run: mvn -B clean verify
      
      - name: Cache SonarQube package
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: SonarQube Scan
        env:
          #GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ env.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ env.SONAR_HOST_URL }}
        #run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=utc-app -Dsonar.qualitygate.wait=true
        run:  mvn verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=utc-app -Dsonar.projectName=utc-app

      
  build:
    runs-on: ubuntu-latest
    needs: sonar
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'maven'

      - name: Package with Maven
        run: mvn -B clean package

      - name: Upload JAR file
        uses: actions/upload-artifact@v4
        with:
          name: utc-app-jar
          path: target/*.jar  
          
          
  deploy_jfrog:
   runs-on: ubuntu-latest
   needs: build
   steps:
     - name: Checkout Code
       uses: actions/checkout@v4
       with:
         fetch-depth: 0

     - name: Download JAR file artifact
       uses: actions/download-artifact@v4
       with:
         name: utc-app-jar
         path: target/


     - name: Read secrets from Vault
       uses: hashicorp/vault-action@v2
       with:
         url: ${{ secrets.VAULT_URL }}
         method: token
         token: ${{ secrets.VAULT_TOKEN }}
         exportEnv: true
         secrets: |
           secrets/creds/jfrog username | MAVEN_USERNAME_A ;
           secrets/creds/jfrog password | MAVEN_PASSWORD_A

     - name: Deploy to JFrog
       env:
         MAVEN_USERNAME_A: ${{ env.MAVEN_USERNAME_A }}
         MAVEN_PASSWORD_A: ${{ env.MAVEN_PASSWORD_A }}
       run: |
        APP_VERSION=$(grep -m2 '<version>' pom.xml | tail -1 | grep -oP '(?<=>).*(?=<)')
        APP_NAME=$(grep -m2 '<artifactId>' pom.xml | tail -1 | grep -oP '(?<=>).*(?=<)')
        APP_LONG_NAME=$APP_NAME-$APP_VERSION.jar
        echo "Deploying $APP_LONG_NAME to Artifactory..."
        curl -v --user $MAVEN_USERNAME_A:$MAVEN_PASSWORD_A \
         -T target/$APP_LONG_NAME \
         -X PUT "$ARTIFACTORY_URL/artifactory/$JFROG_REPO_NAME/$APP_LONG_NAME"

  deploy:
   runs-on: ubuntu-latest
   needs: sonar
   steps:

     - name: Checkout code
       uses: actions/checkout@v4

     - name: Configure AWS Credentials
       uses: aws-actions/configure-aws-credentials@v4
       with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

     - name: Login to Amazon ECR

       id: login-ecr

       uses: aws-actions/amazon-ecr-login@v2

     - name: Set up Docker Buildx
       uses: docker/setup-buildx-action@v3

     - name: Build and push image to ECR
       id: build-and-push
       uses: docker/build-push-action@v5
       with:
          context: .
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ github.sha }}
            ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:latest

    
    
      
    #  - name: Login to Amazon ECR (for deploy)
    #    id: login-ecr
    #    uses: aws-actions/amazon-ecr-login@v2

     - name: Compute image URI
       id: image-uri
       run: |
          IMAGE_URI="${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ github.sha }}"
          echo "Using IMAGE_URI=$IMAGE_URI"
          echo "uri=$IMAGE_URI" >> "$GITHUB_OUTPUT"

     - name: Debug - Check Image URI Value
       run: |
         echo "Image URI from deploy job: ${{ steps.image-uri.outputs.uri }}"

      # - name: Prepare the task definition
      #   id: task-def
      #   uses: aws-actions/amazon-ecs-render-task-definition@v1
      #   with:
      #     task-definition: ${{ env.ECS_TASK_DEFINITION }}
      #     container-name: ${{ env.CONTAINER_NAME }}
      #     image: ${{ steps.image-uri.outputs.uri }}

      # - name: Deploy to ECS
      #   uses: aws-actions/amazon-ecs-deploy-task-definition@v2
      #   with:
      #     task-definition: ${{ steps.task-def.outputs.task-definition }}
      #     service: ${{ env.SERVICE_NAME }}
      #     cluster: ${{ env.CLUSTER_NAME }}
      #     wait-for-service-stability: "true"
